@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.ttf');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.ttf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.ttf');
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 16px;
  --white30: white;
  --white20: #A5A3A5;
  --white10: #251F24;
  --white0: #3A3539;
  /* direction: rtl; */
}

/* html {
  scroll-behavior: smooth !important;
} */

body {
  color: var(--white30);
  /* font-size: 10px; */
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Nunito', sans-serif;
  /* font-family: nunito; */
  background: var(--white10);
}

/* a {
  color: var(--white10);
  color: red;
  border: 1px solid red;
} */

header {
  /* --white10: red; */
  font-size: 14px;
  color: var(--white20);
}

header a {
  color: var(--white20);
  text-decoration: none;
}
header a:hover {
  color: var(--white30);
}

nav details summary {
  font-weight: bold;
  color: var(--white30);

}

/* ol li:nth-child(even) {
  border: 1px solid red;
} */

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  /* font-size: 60px; */
  font-size: 4em;
  /* text-align: end; */
}

h2 {
  /* font-size: 32px; */
  font-size: 2.5em;
}

h3 {
  /* font-size: 24px; */
  font-size: 2em;
}

pre {
  background: var(--white0);
}

p {
  color: var(--white20);
}

.hero {
  /* background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../images/pattern.png'); */
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  /* background: linear-gradient(3.36deg, #212325 -63.62%, rgba(255, 255, 255, 0) 43.49%), url('../images/pattern.png'); */
  /* background-image: linear-gradient(to top, rgba(255, 255, 255, .3), red 10%, transparent), url('../images/pattern.png'); */
  /* background-repeat: no-repeat;
  background-position: left 50px bottom -50px; */
  /* background-size: cover; */
  height: 350px;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

/*Solamente para visualización, no lo lee Google*/
.section-content h3::before {
  content: counter(titleList, decimal) ". ";
  /* content: "-" counter(titleList, decimal) "-"; */
}

.section-content h3::after {
  content: '';
  width: 32px;
  height: 4px;
  background: var(--white30);
  display: inline-block;
}

/* ::selection{
  background: purple;
} */
